*{
    margin: 0%;
    padding: 0%;
}
:root{
    --color1: #3e3c41;
    --color2: white;
    --color3:  	#22eb5d;
    --color4: #0000008c;
}

header{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background: var(--color1);
    padding: 5px 5%;
    position: sticky;
    top: 0%;
    z-index: 100;
    overflow: hidden;
}
header .left-nav{
    width: 25%;
    /* background-color: rebeccapurple; */
    display: flex;
    padding-left: 5px;
    align-items: center;
}
.left-nav .menu img{
    padding-top: 4px;
    width: 30px;
}
header .left-nav h1{
    font-size: 30px;
    color: var(--color2);
    padding:5px 20px;
}
header .center-nav{
    width: 40%;
    align-items: center;
    margin: 5px auto;
    /* background-color: rgb(54, 153, 51); */
}
header .center-nav .search{
    align-items: center;
    display: flex;  
}
header .center-nav .search-box{
    width: 350px;
    float: left;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: none;
    border-style: none;
    padding: 5px;
}

header .center-nav a{
    font-size: 25px;
    /* background-color: var(--color3); */
    border-radius: 5px;
    text-decoration: none;
    color: var(--color2);
    margin: 5px;
    padding: 2px;
    border: 1px solid;
}
header .right-nav{
    align-items: center;
    padding: 5px;
    display: flex;
    width: 25%;
    /* background-color: rgb(12, 6, 18); */
}
header .right-nav h1{
    padding-left: 5px;
    font-size: 25px;
    color: var(--color2);
}
header .right-nav .button{
    display: flex;
    padding-left: 50px;
    font-size: 30px;
    border-radius: 2px;
}
header .right-nav .button .log{
    background-color: var(--color3);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 5px;
}
header .right-nav .button .sing{
    background-color: var(--color3);
    font-size: 25px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.main-conteiner{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    color: black;
}
.left-conteiner{
    width: 75%;
    margin-top: 20px;
    /* background-color: cadetblue; */
}
.left-conteiner .logo{
    width: 20%;
    /* background-color: red ; */
    margin-right: 20px;
}
.left-conteiner .logo span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    border-bottom: 3px solid;
    border-left: 3px solid;
    margin-left: 20px;
    font-weight: 800;
    padding-left: 2px;
    width: 50px;
}
.left-conteiner .havent{
    width: 80%;
    /* background-color: rgb(93, 68, 68) ; */
    text-align: center;
    font-size: 25px;
}
.main-conteiner .left-conteiner .left-left-conteiner{
    display: flex;
}
/*right-conteine*/
/* .right-conteiner{
    height: 100vh;
    width: 30%;
    background-color: #efefef;
} */

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #5865f2;
    border-radius: 5px;
}
.sideber{
    position: fixed;
    top: 0px;
    right: 0;
    width: 25%;
    height: 100%;
    background-color: hsla(180, 47%, 3%, 0.795);
    display: flex ;
    flex-direction: column;
    padding: 20px 5px 0px 20px;
    margin-top: 60px;
}
header h2{
    font-size: 35px;
    color: yellow; 
    padding-bottom: 5px;
}
.scrollbox{
    overflow: auto;
    padding-right: 10px;
    visibility: hidden;
}
.scrollbox-inner,
.scrollbox:hover{
    visibility: visible;
}
.scrollbox-inner p{
    font-size: 16px;
    color: #fff;
}
footer h2{
    font-size: 25px;
    color: #fff;
    padding: 15px 0 40px;
}
.content{
    left: 250px;
    display: flex;
    position: relative;
    width: calc(100%-250px);
    height: 100vh;
    background-color: rgb(125, 170, 155);

}